<header>
  <mat-toolbar color="primary">    
    
    <button style="display: none" class="mat-icon-button" id="sidenavToggle" mat-icon-button="" mattooltip="Toggle Hide/Open" aria-describedby="cdk-describedby-message-19" cdk-describedby-host="">          
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</mat-icon>          
    </button>    
    
    <span class="wrap-title"  fxflex="" >
        Smart Form
    </span>

    <button style="display: none" class="mat-icon-button" id="sidenavToggle" mat-icon-button="" mattooltip="Toggle Hide/Open" aria-describedby="cdk-describedby-message-19" cdk-describedby-host="">          
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">format_color_fill</mat-icon>
    </button>
      

  </mat-toolbar> 
</header>
