<ul class="menu-sidenav" role="navigation" snScrollSpy id="foo">
  <li *ngFor="let item of menu.data" >
    <a snScrollSpyItem for="foo" href="#{{item.menuId}}" [attr.href]="'#' + item.menuId" >{{item.menuId}}</a>
  </li>
</ul>      