ul{
  /*position: fixed*/
}


ul li a.active, ul li a:hover{
  background: #eee
}

ul {  
  list-style: none; 
  padding: 0px;
  width: 250px
}


ul li{
  
}

ul li a{
  text-decoration: none;
  font-size: 16px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: rgba(0,0,0,.87);

  padding: 10px 0px 10px 15px;
  display: inline-block;  
  width: 100%;
  border-bottom: 1px solid #ddd
}


@media (max-width: 600px) {
 ul.menu-sidenav {
    width: auto !important;
  }  
}  