<!-- container form field -->
<form *ngIf="fieldsParticipant"  [formGroup]="form" class="form-dynamic-field" (ngSubmit)="saveFormFields()">
    <div class="card-body">

      <mat-toolbar>{{fieldsParticipant.participantType}}</mat-toolbar>      
  
      <div  *ngFor="let fieldCategory of fieldsParticipant.data"  >
        <sn-scroll-spy-section id='{{fieldCategory.menuId}}' [attr.id]="fieldCategory.menuId" for="foo" class="card"   >            
          <mat-card >            
            <mat-card-title>{{fieldCategory.menuId}}</mat-card-title>
            <mat-card-content>                
              <div *ngFor="let field of fieldCategory.fields" >                    
                <app-dynamic-field                   
                  [field]="field" 
                  [form]="form" 
                  [dropdownOptions]="dropdownOptions">
                </app-dynamic-field>
              </div>
            </mat-card-content>

          </mat-card>   
        </sn-scroll-spy-section>  
      </div>                
    </div> 

    <div class="wrap-action-button" >
      <mat-toolbar >    
        <span    >
          <button  mat-button type="submit" class="btn btn-primary save-button">Save</button>
          <button mat-button  class="btn btn-primary reset-button">Reset</button>              
        </span>    
      </mat-toolbar> 
    </div>      

  </form>

  
  <div *ngIf="payLoad" >
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>