.input-full-width{
  width: 100%
}

mat-card{
  margin-bottom: 20px
}

.form-dynamic-field{
  margin-bottom: 100px 
}

.wrap-action-button{
  position: fixed;
  bottom: 0px;
  z-index: 999; 
  background: #e9eff3;
  width: 100%;    
}

.wrap-action-button button{
  border-radius: 5px
}

.wrap-action-button button.save-button{
  background: #3f51b5;
  color: white;
  border: 1px solid white
}

.wrap-action-button button.reset-button{
  border: 1px solid #8c8c8c;
  color: black;
  background: #e9eff3;  
}

.card mat-card{
  overflow: hidden
}

