<div class="form-group" [formGroup]="form" [hidden]='!field.show'>
  <div [ngSwitch]="field.controlType">

    <mat-form-field  *ngSwitchCase="'textBox'">
      <input matInput [formControlName]="field.fieldId" placeholder="{{field.fieldName}}"
        [id]="field.fieldId" [type]="text" class="form-control" >      
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdownBox'">
      <mat-select placeholder="{{field.fieldName}}" [id]="field.fieldId"  [formControlName]="field.fieldId">
        <mat-option *ngFor="let opt of options" [value]="opt.key">{{opt.value}}</mat-option>
      </mat-select>
    </mat-form-field>    

    <mat-form-field  *ngSwitchCase="'multiSelectBox'">
      <mat-select multiple placeholder="{{field.fieldName}}" [id]="field.fieldId"   [formControlName]="field.fieldId">
        <mat-option *ngFor="let opt of options" [value]="opt.key">{{opt.value}}</mat-option>
      </mat-select>
    </mat-form-field>      
 
    <mat-checkbox *ngSwitchCase="'radioBox'" [id]="field.fieldId" [formControlName]="field.fieldId">{{field.fieldName}}</mat-checkbox>

  </div> 
  <div  class="errorMessage"  *ngIf="errorRequired">
    {{field.fieldName}} is required
  </div>

  <div  class="errorMessage"  *ngIf="errorMaxLength && field.controlType == 'textBox'">
    The maximum length It's {{field.maxLength}}
  </div>  

  <div  class="errorMessage"  *ngIf="errorEmail && field.email ">
    {{field.fieldName}} is not a valid mail
  </div>    

</div>