<div class="containerX">
  <div class="colorNested box" fxLayout="column">
    
    <app-header></app-header>    

    <div *ngIf="fields" id="main" [fxLayout]="direction" fxLayout.xs="column" fxFlex>

      <!-- Left menu -->
      <nav fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="2">          
        <app-menu-category [menu]="fieldsParticipant" class="custom-nav-menu" ngStickyNav ></app-menu-category>
      </nav>

  
      <!-- main content -->
      <article fxFlex="3 1 60%" fxFlexOrder fxFlexOrder.xs="1"> 
        <app-dynamic-form   
          [fields]="fields" 
          [categories]="categories"                      
          [dropdownOptions]="dropdownOptions"
          [fieldsParticipant]="fieldsParticipant" 
          (changeUser)="handleChangeUser($event)"
          (updatePercentage)="handleUpdatePercentage($event)"
        >
        </app-dynamic-form>          
      </article>


      <!-- Right menu -->
      <aside fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="3"> 
        <app-menu-user ngStickyNav class="custom-nav-user" [users]="usersinfo" [userSelected]="userSelected" (changeUser)="handleChangeUser($event)"></app-menu-user>
      </aside>      

    </div>
    <footer class="footer-dynamic-form" >
      <mat-icon (click)="scrollup()" class="scrollup mat-icon material-icons" role="img" aria-hidden="true">expand_less</mat-icon>       
    </footer>
  </div>
</div>





