.example-container {
  /*width: 500px;*/
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.scrollup {
  position: fixed;
  bottom: 160px;
  right: 100px;
  font-size: 100px;
  cursor: pointer;
}


@media (max-width: 600px) {
  .custom-nav-menu, .custom-nav-user {
    position: inherit !important;
    width: auto !important;
  }
 
}  



