.wrap-user{
  margin-bottom: 20px;
  cursor: pointer;
  width: 275px; 
  margin-top: 15px;
}

.card-username, .user-participant{
  text-align: center
}

.card-username mat-icon {
  vertical-align: middle;
}

.card-username span {
  vertical-align: middle;
}

.wrap-user.active, .wrap-user:hover{
  /*background: rgba(0,0,0, 0.5);*/
  background: rgba(0,0,0,.12)
  /*color: #ffffff*/
}

@media (max-width: 600px) {
  .wrap-user{
    width: auto !important; 
  }
}  