<mat-card 
  *ngFor="let user of users" 
  [ngClass]="{'wrap-user': true, 'active': userSelected.loanParticipantId == user.loanParticipantId && userSelected.participantTypeId == user.participantTypeId}" 
  #usersinfo 
  (click)="onChangeUser(user)" 
>  
  <mat-card-content>
    <mat-progress-bar color="primary" mode="determinate" value="{{user.percentage}}"></mat-progress-bar>        
    <h3 class="card-username">
      <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">account_circle</mat-icon>          
      <span>{{user.username}}</span>
    </h3>
    <h5 class="user-participant" >{{user.participantType}} </h5>    
  </mat-card-content>
</mat-card>    


