/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.colorNested, .containerX {
  min-height: 384px;
  /*background: #999999;*/
}

article, nav, aside, header{
  margin: 4px;
  padding: 5px;
  /*border: 1px solid #cccc33;*/
  border-radius: 7px;
  color: #ffffff
}

#main > article {
  /*border-color: #cccc33;
  background: #dddd88;*/
  cursor: pointer;
}

#main > nav, #main > aside {
  /*border-color: #8888bb;*/
  /*background: #ccccff;*/
  
}

header {
  border-color: #7284ec;
  background: #3f51b5;
}

mat-card > mat-card-actions:last-child {
  padding-bottom: 16px;
}

mat-card > mat-card-actions > button {
  margin-left: 10px;
}

mat-form-field{
  color: rgba(0,0,0,.87)
}

.errorMessage{
  color: red;
  margin: 0px 0px 20px 0px;
  font-size: 12px
}



/* Begin Footer */
footer {
  position: fixed;
  bottom: 0px;
  z-index: 99;
  background: #f5f5f5;
  width: 100%;   
  height: 64px;
}
/*
footer button{
  border-radius: 5px
}

footer button.save-button{
  background: #3f51b5;
  color: white;
  border: 1px solid white
}

footer button.reset-button{
  border: 1px solid #8c8c8c;
  color: black;
  background: #e9eff3;  
}

.wrap-action-button{
  width: 185px;
  margin: 0 auto;  
}*/
/* End Footer */